bg_color ?= #fdfffb
border_color ?= #daccaf
highlight_color ?= white

border1 ?= 1px solid border_color
border2 ?= 2px solid border_color
control_height ?= 40px
head_height ?= 50px

fast ?= .3s

width_normal ?= 900px
width_small ?= 800px
width_very_small ?= 700px



////////////// mixins //////////////
nth-col-width(n, w)
	td:nth-child({n}), th:nth-child({n})
		width w
		min-width w
	@media (max-width: width_small)
		td:nth-child({n})
			word-break break-all



////////////// text styles //////////////
.flight-number-text
	color #0d60c0
.flight-status
	&--red
		color #d21d54
		font-weight bolder
	&--green
		color #36D11F
		font-weight bolder
		text-shadow 0 1px 1px white


////////////// main //////////////
.aviaboard
	color #676566
	text-shadow 0 1px 1px #daccaf
	border-spacing 0

	// set width of columns
	nth-col-width 1 100px
	nth-col-width 2 190px
	nth-col-width 3 80px
	nth-col-width 4 80px
	nth-col-width 5 140px
	nth-col-width 6 110px
	nth-col-width 7 140px

	// change width for different screens
	@media (max-width: width_normal)
		nth-col-width 7 50px
	@media (max-width: width_small)
		nth-col-width 1 80px
		nth-col-width 6 60px
	@media (max-width: width_very_small)
		nth-col-width 2 100px
		nth-col-width 5 120px


	td
		padding 0
	td, th
		transition width fast
		box-sizing border-box



	////////////// wrappers //////////////
	&__wrap
		padding-top head_height + control_height
		position relative
		display inline-block

		// borders
		overflow hidden
		border-radius 5px
		border border2
		box-shadow 0 0 30px 0 rgba(107, 94, 76, .3)

		&-size
			min-height head_height
			max-height calc(100vh - 190px)
			overflow-y auto



	////////////// control //////////////
	&__control
		absolute top

		&-button
			cursor pointer
			// rewrite cell width set by nth-col-width mixin
			width 150px !important
			min-width 150px !important

			& > div
				background-image linear-gradient(bottom, #eee3cb, #f2eed5)
				height control_height
				line-height control_height
				width 150px
				border-right border2
				&:hover
					background-image linear-gradient(bottom, #e4d9c4, #e2dfc9)

				&:active
					background-image linear-gradient(bottom, #ded6c4, #d9d6c3)

	&__search
		// rewrite cell width set by nth-col-width mixin
		width 100% !important
		input
			width calc(100% - 20px)
			height control_height
			padding 0 0 0 20px
			border 0
			outline none
			background #fbfaf2

		&-icon
			cursor pointer
			background #fbfaf2 url(images/search.svg) no-repeat center
			// rewrite cell width set by nth-col-width mixin
			width 50px !important
			min-width 50px !important



	////////////// head //////////////
	&__head
		absolute top control_height
		tr
			// head height
			height head_height

	th
		font-weight bolder
		padding 0 5px
		background-image linear-gradient(bottom, #eee3cb, #f2eed5)
		border border2

		// reset because border already exists
		// border-top 0
		&:first-child
			border-left 0
		&:last-child
			border-right 0

		// switch between long and short title
		@media (max-width: width_normal)
			span:first-child
				display none
		@media (min-width: width_normal)
			span:last-child
				display none



	////////////// row //////////////
	&__row
		td
			padding 5px 10px
			border-right solid 1px border_color
			// border-bottom @border-right
			border-bottom @border-right
			&:last-child
				border-right 0

	&__tbody
		transition background fast
		cursor pointer
		background alpha(#f2eed5, .3)
		&:nth-child(even)
			background alpha(#f2eed5, .8)
		&:hover
			background highlight_color

		img
			float left
			border-radius 5px

		h3
			color #4a4240
			font-weight bolder
			margin 5px 0 0 110px

		p
			margin 3px 0 0 20px


		.aviaboard__info-block
			transition-property max-height, margin
			transition-duration fast
		// &--opened
		// 	td
		// 		border-bottom border1

		// 	// rewrite hover background
		// 	background #fdfdfa !important
		// 	.aviaboard__info-block
		// 		margin 10px
		// 		max-height 150px



		////////////// flight type //////////////
		&--departure .flight-type
			background url(images/departure.svg) no-repeat center
			background-size auto 25px

		&--arrival .flight-type
			background url(images/arrival.svg) no-repeat center
			background-size auto 25px

	&--hide-arrival &__tbody--arrival
		display none
	&--hide-departure &__tbody--departure
		display none




	////////////// opened block //////////////

	&__info-block
		width 400px
		position absolute
		top calc(50% - 100px)
		left s('calc(50% - %s)', @width / 2)
		display none
		z-index 1

		font-size .9em
		word-break normal
		text-align left
		background #fcfef7
		padding 10px
		border border2
		border-radius 5px
		box-shadow 0 0 30px 10px alpha(#4a4240, .5)

	&__blackout
		display none
		fixed top left
		background alpha(black, .6)
		height 100vh
		width 100vw
		z-index 1

	&__tbody--opened &__info-block
		display inline-block
	&__tbody--opened &__blackout
		display block

	&__data
		display inline-block
	&__note
		margin-top 10px



	////////////// time and date //////////////
	&__time
		font-size 1.25em
	&__date
		font-size .6em
		@media (max-width: width_normal)
			display none



	////////////// aviacompany //////////////
	&__company
		// min height
		height 60px
		position relative
		&-logo
			box-sizing border-box
			absolute right
			padding 5px
			// at vertical center
			top calc(50% - 25px)
		&-name
			display block
			width calc(100% - 50px)
			@media (max-width: width_normal)
				display none
	&__airport
		@media (max-width: width_normal)
			display none
		&:before
			content ' / '
	&__plane span
		@media (max-width: width_normal)
			&:first-child
				display none
		@media (min-width: width_normal)
			&:last-child
				display none



	&__check-departure, &__check-arrival
		float right
		size control_height
		background url(images/checked.svg) no-repeat center


	&--hide-arrival &__check-arrival
			background url(images/no-checked.svg) no-repeat center

	&--hide-departure &__check-departure
		background url(images/no-checked.svg) no-repeat center


	&__button-departure
		background url(images/departure.svg) no-repeat center
	&__button-arrival
		background url(images/arrival.svg) no-repeat center

	&__button-departure, &__button-arrival
		size 50px control_height
		float left
		background-size auto 15px

