bg_color = #fdfffb
border_color = #daccaf
cross_color = white //alpha(#d7caaf, .3)
width_normal = 900px
width_small = 800px
width_very_small = 700px

nth-col-width(n, w)
	td:nth-child({n}), th:nth-child({n})
		width w
		min-width w
	@media (max-width: width_small)
		td:nth-child({n})
			word-break break-all

*, *:before, *:after
	box-sizing border-box
	transition all .3s

td
	padding 0

.aviaboard__tbody
	img
		float left
		border-radius 5px

	h3
		font-weight 400
		margin 5px 0 0 110px
		word-break normal

	p
		margin 3px 0 0 20px
		word-break normal

	.aviaboard__info-block
		text-align left
		max-height 0
		overflow-y hidden

		margin-left 10px
	&--opened
		background #fdfdfa !important
		.aviaboard__info-block
			margin 10px
			max-height 150px
		tr + .aviaboard__full
			td
				border-bottom 1px solid border_color

.aviaboard__data
	vertical-align middle
	font-size 14px
	display inline-block
	width calc(100% - 100px)

.aviaboard__info, .aviaboard__note
	display inline-block
	width 50%
.aviaboard__info:only-child
	width 100% !important



body
	background bg_color
	font 16px 'Helvetica Neue'
	font-weight 300
	text-align center
	margin-top 50px

.aviaboard__wrap2, .aviaboard__wrap-size
	min-height 60px
	max-height calc(100vh - 190px)
	overflow-y auto

.aviaboard__wrap
	// margin 50px auto
	padding-top 60px
	position relative
	overflow hidden
	display inline-block
	box-shadow 0 0 30px 0 rgba(107, 94, 76, .3)
	border-radius 5px
	border solid 2px border_color
	border-bottom solid 1px border_color

.dark-text
	color #4a4240
.flight-number-text
	color #0d60c0
.red-text, .red-status
	color #d21d54

tbody
	cursor pointer
	background alpha(#f2eed5, .3)
	&:nth-child(even)
		background alpha(#f2eed5, .8)
	&:hover
		background cross_color

b
	font-weight 400

.aviaboard
	color #676566
	text-shadow 0 1px 1px #daccaf
	text-align center
	// border-radius 5px
	border-spacing 0
	overflow hidden

	table-layout fixed

	nth-col-width 1 100px
	nth-col-width 2 190px
	nth-col-width 3 80px
	nth-col-width 4 80px
	nth-col-width 5 140px
	nth-col-width 6 110px
	nth-col-width 7 140px

	@media (max-width: width_normal)
		nth-col-width 7 50px
	@media (max-width: width_small)
		nth-col-width 1 80px
		nth-col-width 6 60px
	@media (max-width: width_very_small)
		nth-col-width 2 100px
		nth-col-width 5 120px

	&__head
		absolute top
		z-index 1
		@extend .dark-text
		tr
			height 60px
	th
		font-weight 400
		padding 0 10px
		background-image: linear-gradient(0deg, #eee3cb 0%, #f2eed5 100%);

		border solid 1px border_color
		border-bottom solid 2px border_color
		border-top 0
		// border-bottom @border-right
		&:first-child
			border-left 0
		&:last-child
			border-right 0

		@media (max-width: width_normal)
			span:first-child
				display none
		@media (min-width: width_normal)
			span:last-child
				display none

	&__time
		font-size 1.25em
	&__date
		font-size .6em
		@media (max-width: width_normal)
			display none

	&__company
		position relative
		height 60px
		&-logo
			absolute top right
			top calc(50% - 25px)
			border 5px solid transparent
			border-radius 10px
		&-name
			display block
			width calc(100% - 50px)
			@media (max-width: width_normal)
				display none
	&__airport
		@media (max-width: width_normal)
			display none
		&:before
			content ' / '
	&__plane span
		@media (max-width: width_normal)
			&:first-child
				display none
		@media (min-width: width_normal)
			&:last-child
				display none

	&__row
		// &:hover
		// 	background cross_color

		// &:last-child td
		// 	&:first-child
		// 		border-bottom-left-radius 5px
		// 	&:last-child
		// 		border-bottom-right-radius 5px

		td
			padding 5px 10px
			border-right solid 1px border_color
			border-bottom @border-right
			&:last-child
				border-right 0

			// &:hover
			// 	position relative
			// 	&:after
			// 		content ''
			// 		absolute top -10000px left
			// 		size 100% 20000px
			// 		background cross_color
			// 		z-index -1

		tr:last-child td
			border-bottom 0



.departure
	background url(images/departure.svg) no-repeat center
	background-size auto 30px

.arrival
	background url(images/arrival.svg) no-repeat center
	background-size auto 30px
